streamlit==1.39.0
gTTS==2.3.2
pygame==2.5.0
Pillow==9.5.0  # Use a stable version that works with most environments

SpeechRecognition==3.8.1
pyttsx3==2.90
pyaudio==0.2.13
sounddevice==0.4.6
nltk==3.8.1
transformers==4.35.0
torch==2.0.1  # Only if using advanced models like Wav2Vec2
